/*For main heading only */

/*Tutorial Start*/








/*Tutorial end */

/*Root values for landing page 

*/



:root {
	--content_bold: rgb(255, 255, 255);
	/*FOr white headings */
	--content: rgb(251, 245, 243);
	/*For white less emphatic text */
	--purple: rgb(66, 48, 66);
	/*This is for purple hue componenets
	1) Section backgrounds
	2) Buttons
	3) Linear Gradients */
	--grey: rgb(132, 131, 133);
	/*This is for alterante backgrounds.
	1) Follow us page divider
	2) Footer */
	--hover_effect: rgb(272, 236, 212);
	

	/*Font sizes */
	--text-multiplier: 1;

	
	/*Font stacks*/
	--text: "" ,Arial, sans-serif; ;
	--headings: ;
	--image_caption: ;
}


/*Styles all start here*/

* {
	box-sizing: border-box;
	
}




body {

	font-family: caviar;
	font-weight: normal;
	font-style: ;
	font-size: 0.8em;
	margin: 0;
	background-color: var(--content);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

li {
	list-style: none;
}

a {
	color: var(--content);
	text-decoration: none;
}

button {
	cursor: pointer;
}

p {
}

/*Navigation starts here */

.top_navigation {
	background-color: var(--content); 
	position: fixed;
	height: min-content;
	display: flex;
	z-index: 999;
	width: 100%;
}

.bar_logo {
	margin: 10px 75px;
	float: left;
	width: 100px;
	height: auto;

}

nav {
	position: absolute;
	float: right;
	text-align: left;
	background-color: var(--content);
	top: 100% ;
	left: 0px;
	width: 100%;
	display: none;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {margin-bottom: 1em;
	margin-left: 1em;
}

nav a {
	color: black;
	text-decoration: none;
	font-size: 1.2rem;
	text-transform: uppercase;
}

/*Navigation fundtionality starts here */

nav a:hover {
	color: #000;
}

.nav-toggle:checked ~ nav {
	display: block;
}

.nav-toggle {
	display: none;
}

.nav-toggle-label {
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	margin-left: 1em;
	display: flex;
	align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
	display: block;
	background: #333;
	height: 3px;
	width: 2em;
	border-radius: 2px;
	position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
	content: '';
}

.nav-toggle-label span::before {
	bottom: 8px;
}

.nav-toggle-label span::after {
	top: 5px;
}

.backgroundImage {
	height: 100vh;
	position: relative;
	background-size: cover;
	background-position: center;
	background-image: url(images/backgroundphotoalt.jpg);
	background-repeat: no-repeat;
	filter: grayscale(40%);
	margin: 0 auto;
}

.background_wrapper {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	align-items: center;
	justify-content: center;
	color: white;
	background: rgba(0, 0, 0, 0.55);
	z-index: -1;
}


.background_wrapper h1 {
	font-family: '';
	text-transform: uppercase;
	white-space: nowrap;
	font-weight: bold;
	font-size: 4em;
}

.background_wrapper h2 {
	font-size: 1.5em;
	font-weight: 400;
}

.background_wrapper button {
	margin-top: 1em;
	color: #fff;
	background-color: var(--purple);
	font-size: 1.5em;
}


/*Service section starts here */
.content_grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 1fr;
	line-height: 1.5em;
}

.content_grid img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}


.service_heading {
	text-align: center;
}

.all_services {
	grid-column: 1 / -1;
}


.service_section {
	margin-top: 10px;
	background-color: var(--content);
}

.service_images {
	grid-column: 1 / -1;
	border: none;
	display: flex;
	justify-content: space-around;
	margin-left: auto;
	margin-right: auto;
}

.service_image {
	position: relative;
	display: inline-block;
	width: 400px;
	height: 450px;
	margin: 15px;
}

.image_overlay {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: linear-gradient(180deg, 
	rgba(66,48,66,0) 0%,
	rgba(66,48,66,0) 40%,
	rgba(66,48,66,0.4) 60%,
	rgba(66,48,66,0.8) 100%);
} 

.image_overlay_wrapper {
	position: absolute;
	top: 70%;
	margin-top: 0;
	color: white;
	text-align: center;
}

.img_overlay_wrapper {
	display: flex;
	justify-content: center;
}

.image_overlay h2, .image_overlay p {
	margin: 0;
}

.image_overlay h2 {
	padding-bottom: 20px;
}

.image_overlay p {
	opacity: 0;
	text-decoration: none;
	transition: opacity .5s ease-out;
}

.image_overlay p::after {
	content: "";
	width: 0px;
	height: 1px;
	background: orange;
	display: block;
	transition: .5s ease-in;
	transition-delay: .5s;
}



.image_overlay h2:hover ~ p {
	opacity: 1;
}

.image_overlay h2:hover ~ p::after {
	width: 100%;
}

.service_title {
	grid-column: 2 / 3;
	text-align: center;
	font-weight: 600;
	font-size: 3em;
	padding-bottom: .5em;
	margin: 1.5em 0;
}

.all_services {
	margin: 3em auto 5em auto;
	text-transform: uppercase;
	border: 3px solid var(--purple);
	border-radius: 15px;
	width: ;
	font-size: 1.3em;
	font-weight: 400;
	color: var(--purple);
	background-color: var(--content);
	grid-column: 1 / -1;
	justify-self: center;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: 600;
	transition: background .4s ease-in, color .4s ease-in;
}

.all_services:hover {

	background: var(--purple);
	color: white;
}

@media (max-width: 1300px) {

	.service_image {
		width: 250px;
		height: 350px;
		margin: 10px;
	}
}

@media (max-width: 800px) {

	.service_images {
		flex-direction: column;
	}

	.service_image {
		width: 80vw;
		height: 25vh;
		margin: 5px 10px;
	}

	.image_overlay {
		background: linear-gradient(180deg, 
		rgba(66,48,66,0.8) 0%,
		rgba(66,48,66,0.6) 40%,
		rgba(66,48,66,0) 60%,
		rgba(66,48,66,0) 100%);
	}

	.image_overlay_wrapper {
		top: 10%;
	}

}

/*Details Section */

/* Repeated styles*/

.mission_statement p, .expectations_text p {
	font-size: clamp(1.1em, 1.8vw, 1.6em);
	max-width: 575px;
	text-align: justify;
	line-height: 1.8em;
	text-indent: 2em;
}


.mission_statement h2, .expectations_text h2 {
	padding-top: 1em;
	font-size: clamp(1.6em, 4vw, 1.85em);
}



.mission_image {
	grid-column: 1 / span 6;
	max-height: 550px;
}

.mission_statement  {
	grid-column: 7 / -1;
	background-color: var(--purple);
}

.mission_statement p {
	margin: 1em auto 1em 4em  ;
	text-align: justify;
	color: var(--content); 
}

.mission_statement h2 {
	text-align: center;
	max-width: 575px;
	margin-right: auto;
	margin-left: 2rem;
	color: var(--content_bold);
}

.expectations_text {
	grid-column: 1 / span 6;	
}

.expectations_text p {
	margin: 1em 4em 1em auto;
	color: var(--main-text-alternate);
}

.expectations_text h2 {
	margin-right: 4em;
	margin-left: auto;
	text-align: center;
	max-width: 575px;
	
}

.expectations_images {
	margin-top: 2em;
	display: flex;
	flex-direction: column;
	grid-column: 7 / -1;
}

.expectations_images img {
	max-width: 400px;
	margin: 0 auto;
	padding: 10px 10px; 
	border-radius: 50px: 
}

.expectations_images img:first-child {
	max-height: 400px;
	object-position: 20% 0%;
	
}

.expectations_images img:nth-child(2) {
	max-height: 350px;
	object-position: 50% 10%;
	object-position: 50% 80%;

}

@media(max-width: 1400px) {
	.mission_statement p {
		margin-right: 4em;
	}

	.expectations_text p {
		margin-left: 4em;
	}
}

@media(max-width: 1400px) {
	.expectations_text h2 {
		margin-right: 0;
	}
}


@media(max-width: 800px) {
	.mission_image {
		grid-column: 1 / -1;
	}

	.mission_statement {
		grid-column: 1 / -1;
		padding-bottom: 2em;
	}

	.expectations_text {
		grid-column: 1 / -1;	
	}

	.expectations_text h2 {
		
		text-align: left;
		margin-left: 4em;
		margin-right: auto;
		max-width: 100%;
	}

	.expectations_images {
		grid-column: 1 / -1;
		grid-row: 5;
	}


}



@media(max-width: 400px) {
	.mission_statement p {
		margin-left: 2em;
		margin-right: 2em;
		max-width: 100%;
		padding: 0;
		text-align: center;
		text-indent: 0;
	}

	.mission_statement h2 {
		margin: 0 auto;
		padding: 2em 0 1em 0;
		text-align: center;
	}

	.expectations_text p {
		margin-left: 2em;
		margin-right: 2em;
		text-indent: 0;
		text-align: center;
		padding: 0;
		margin-right: 0;
		max-width: 100%;
	}

	.expectations_text h2 {
		white-space: nowrap;
		text-align: center;
		margin: 0
	}
}







/*Follow us */

.social_media {
	grid-column: 1 / -1;
	margin-top: 5vh;
	padding-top: 5vh;
	height: min-content;
	width: 100%;
	text-align: center;
	font-size: 1.3em;
	font-style: italic;
	background-color: var(--grey);
}

.social_media > h1 {
	font-size: clamp(1.1em 1vw 1.4em);
	color: var(--content); 
}

/*.social_media > h1:hover {
	color: var(--hover_effect)
}*/

.social_media ul {
	list-style: none;
	display: flex;
	justify-content: center;
	padding: 0 0 2em 0;
}

.social_media li {
	padding: 10px;
	color: var(--content);
	font-size: 1.5rem;
}

/*.social_media li:hover {
	color: rgb(272, 236, 212);
	font-size: 1.4em;
}*/

.Follow_us {
	position: ;
	justify-self: center;
	margin: 0;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

/* Image Grid */

.image_gallery_grid {
	
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(9, 7.5vh);
	grid-auto-flow: dense;
	grid-gap: 5px;
	padding: 0 5px;
}

.gallery_item {
	margin-top: 5px;
	width: 100%;
	height: 100%;
	position: relative;
}

.gallery_item .gallery_photo {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.gallery_item .gallery_photo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%;
	cursor: pointer;
	transition-property: transform;
	transition: .5s ease-in-out;

}


.item1 {
	grid-column: auto / span 3; 
	grid-row: auto / span 6;
}

.item2 {
	grid-column: auto / span 3; 
	grid-row: auto / span 3;
}
.item3 {
	grid-column: auto / span 3; 
	grid-row: auto / span 3;
}
.item4 {
	grid-column:auto / span 3; 
	grid-row: auto / span 3 ;
}
.item5 {
	grid-column: auto / span 3 ; 
	grid-row: auto / span 3 ;
}
.item6 {
	grid-column: auto / span 6 ; 
	grid-row: auto / span 6 ;
}
.item7 {
	grid-column: auto / span 3 ; 
	grid-row:auto / span 6;
}
.item8 {
	grid-column:auto / span 3 ;
	grid-row:auto / span 3;
}



/*Media Queries */

@media (max-width: 600px){
	.image_gallery_grid {
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(12, 7.5vw);
	}

	.item1 {
		grid-column: auto / span 3; 
		grid-row: auto / span 3;
	}

	.item1 .gallery_item .gallery_photo img {
		object-position: 50% 75%;
	}

	.item2 {
		grid-column: auto / span 3; 
		grid-row: auto / span 3;
	}

	.item3 {
		grid-column: auto / span 3; 
		grid-row: auto / span 3;
	}

	.item4 {
		grid-column:auto / span 3; 
		grid-row: auto / span 3 ;
	}

	.item5 {
		grid-column: auto / span 3 ; 
		grid-row: auto / span 3 ;
	}

	.item5 .gallery_item .gallery_photo img {
		object-position: 50% 0%;
	}

	.item6 {
		grid-column: auto / span 6 ; 
		grid-row: auto / span 3 ;
	}

	.item7 {
		grid-column: auto / span 3 ; 
		grid-row:auto / span 3;
	}

	.item8 {
		grid-column:auto / span 3 ;
		grid-row:auto / span 3;
	}
}


@media (max-width: 375px){
	.image_gallery_grid {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(21, 12.5vw);
	}

	.item1 {
		grid-column: auto / span 3; 
		grid-row: auto / span 3;
	}

	.item2 {
		grid-column: auto / span 3; 
		grid-row: auto / span 3;
	}

	.item3 {
		grid-column: auto / span 3; 
		grid-row: auto / span 3;
	}

	.item4 {
		grid-column:auto / span 3; 
		grid-row: auto / span 3 ;
	}

	.item5 {
		grid-column: auto / span 3 ; 
		grid-row: auto / span 3 ;
	}

	.item6 {
		grid-column: auto / span 3 ; 
		grid-row: auto / span 3 ;
	}

	.item7 {
		grid-column: auto / span 3 ; 
		grid-row:auto / span 3;
	}

	.item8 {
		grid-column:auto / span 3 ;
		grid-row:auto / span 3;
	}

	.footer {
		grid-row:auto / span 2;
	}
}

/* Animations and Transitions */

.gallery_item .gallery_photo img:hover {
	transform: scale(1.5);
}

.gallery_item .text {
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 25px;
	width: 100%;
	text-align: center;
	color: white;
	transform: translate(-50%, -50%);
	pointer-events: none;
	z-index: 4;
	transition-duration: .5s;
	transition-timing-function: ease-in-out;
	-webkit-backdrop-filter: blur(5px) saturate(1.8);
	backdrop-filter: blur(5px) saturate(1.8);
}


.gallery_item:hover .text {
	opacity: 1;
	animation-name: down;
	animation-duration: .5s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

@keyframes down {
	0% {top:10%;}
	50% {top: 35%;}
	100% {top: 50%;}
}

/*Footer starts here*/

/*Overall Grid*/

.footer_grid {
	background-color: var(--grey);
	color: var(--content);
	margin-top: 10px;
	display: grid;
	grid-template-columns: repeat(13, 1fr);
	font-size: 1.2em;
}

.footer_grid a {
	text-decoration: none;
	color: var(--content);
}

.footer_grid a:hover {
	color: var(--hover_effect);
	transition: 0.5s ease-out;
}

.footer_grid ul {
	padding: 0;
}

.footer_grid li {
	padding-bottom: 10px;
}

.footer_grid h2 {
	text-transform: uppercase;
	padding-top: 2rem;
	color: #fff;
}





/*Content Row */

.About_description {
	grid-column: 2 / span 1;
}

.Contact {
	font-size: 0.75em;
}

.contact_indent {

}

.social_media_icons ul {
	display: flex;
}

.social_media_icons li {
	padding-right: 15px;
}

.Events_description {
	grid-column: 4 / span 1;
}

.Resources_description {
	grid-column: 6 / span 1;
}

.Subscribe {
	grid-column: 8 / span 3;
	color: var(--content);
}

.Subscribe p {
	text-align: justify;
}

.Subscribe input {
	width: 20vw;
	color: var(--content);
	font-size: 1em;
}

input[type = email] {
	padding: 5px;
}

input[type = submit] {
	background-color: var(--purple);
	cursor: pointer;
}


.footer_line {
	grid-column: 1 / -1;
	height: 1px;
	background-color: var(--content);
	margin: 0 5vw;
}

.copyright {
	font-style: italic;
	font-size: 0.75em;
	text-align: center;
	padding-bottom: 2rem;
	background-color: var(--grey);
	color: var(--content);
}

@media (max-width: 800px) {
	
	.About_description {
		grid-column: 2 / span 2; 
	}

	.Events_description {
		grid-column: 4 / span 2;
	}

	.Resources_description {
		grid-column: 11 / span 1;
	}

	.Subscribe {
		grid-column: 2 / span 1;
		margin-top: 0;
		padding-top: 0;
	}

	.Subscribe h2 {
		padding-top: 0;
		margin-top: 0;
	}

	.Subscribe input {
		width: 9em;
	}

	input[type = submit] {
		margin-bottom: 10px;
	}
}


@media (max-width: 600px) {

	.footer_grid {
		grid-template-columns: repeat(6, 1fr);
	}

	.footer_grid h2 {
		font-size: 1em;
		font-weight: bolder;
	}

	.footer_grid p, .footer_grid li {
		font-size: 0.85em
	}

	.Resources_description {
		grid-row: 2;
		grid-column: 4 / span 2; 
		margin-top: 0;
		padding-top: 0;
	}

	.Resources_description h2 {
		padding-top: 0;
		margin-top: 0;
	}

	.Events_description {
	
		grid-column: 4 / span 2; 
		margin-top: 0;
		padding-top: 0;
	}

	
}

@media (max-width: 400px) {
	.footer_grid {
		grid-template-columns: 1fr;
	}

	.footer_grid * {
		text-align: center;
		justify-content: center;
	}

	.About_description {
		grid-column: 1 /-1;
		grid-row: 1;
	}

	.Events_description {
		grid-column: 1 /-1;
		grid-row: 2;
	}

	.Resources_description {
		grid-column: 1 /-1;
		grid-row: 3;

	}

	.Subscribe {
		grid-column: 1 /-1;
		grid-row: 4;
	}

	p {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}

	.Subscribe input {
		width: 10em;
	}

}

.boxtest {
	height: 40vh;
	background-color: 
}